@{
    ViewData["Title"] = "História";
}

<link rel="stylesheet" href="~/css/historia.css" />

<main>
    <!-- HISTÓRIA Section -->
    <section class="stacked-section historia-section">
        <div class="stacked-image historia-bg-img"></div>
        <div class="stacked-overlay">
            <div class="grid-container">
                <div class="col-span-12 md:col-span-8 sm:col-span-4 stacked-title">História</div>
            </div>
        </div>
        <div class="stacked-content">
            <div class="grid-container">
                <div class="col-span-12 md:col-span-8 sm:col-span-4 historia-text">
                    <p>
                        Existia a vontade de criar um torneio de referência a nível Distrital e Nacional, promovendo o concelho da Sertã e dando a conhecer todo o seu
                        potencial. Para tal o S.F.C. decidiu organizar o Sertã Cup.
                        Este evento visa proporcionar aos jovens atletas a prática de futebol,
                        promovendo o convívio entre equipas, contribuindo para a sua formação
                        desportiva e pessoal e também a criação de parecerias com entidades locais e regionais, potenciando
                        angariação de fundos tal como a APPACDM e CERCICAPER.

                        Esta será a quarta edição, onde o objetivo de crescer e aumentar o números de equipas
                        participantes para 32 foi alcançado!
                </div>
            </div>
        </div>
    </section>

    <!-- RESPONSABILIDADE SOCIAL Section -->
    <section class="social-section">
        <div class="grid-container">
            <div class="col-span-12 md:col-span-8 sm:col-span-4 social-title">Responsabilidade Social</div>
            <div class="col-span-12 md:col-span-8 sm:col-span-4 social-logos">
                <img src="/images/APPACDM.png" alt="Parceiro 1" class="social-logo" />
                <img src="/images/CERCICAPER.png" alt="Parceiro 2" class="social-logo" />
            </div>
        </div>
    </section>

    <!-- VENCEDORES Section -->
    <section class="vencedores-section">
        <div class="grid-container">
            <div class="col-span-12 md:col-span-8 sm:col-span-4 vencedores-title">Vencedores</div>
            <div class="vencedores-content col-span-12 md:col-span-8 sm:col-span-4">
                <div class="vencedor-box ">
                    <div class="edicao">Iª</div>
                    <p>ESCOLA PEDRO ROMA</p>
                </div>
                <div class="vencedor-box">
                    <div class="edicao">IIª</div>
                    <p>SERTANENSE FC</p>
                </div>
                <div class="vencedor-box">
                    <div class="edicao">IIIª</div>
                    <p>ESCOLA BENFICA P.G</p>
                </div>
                <div class="vencedor-box">
                    <div class="edicao">IVª</div>
                    <p>???</p>
                </div>
            </div>
            <img src="/images/cup test.png" alt="Taça" class="vencedores-image" />
        </div>
    </section>
</main>
