@{
    ViewData["Title"] = "História";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/historia.css" />
}

<main>
    <!-- HISTÓRIA Section -->
    <section class="historia-section">
        <div class="grid-container">
            <div class="col-span-12 md:col-span-8 sm:col-span-4 historia-title">História</div>
            <div class="col-span-12 md:col-span-8 sm:col-span-4 historia-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </section>

    <!-- VISÃO Section -->
    <section class="visao-section">
        <div class="grid-container">
            <div class="col-span-12 md:col-span-8 sm:col-span-4 visao-title ">Visão</div>
            <div class="col-span-12 md:col-span-8 sm:col-span-4 visao-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </section>

    <!-- RESPONSABILIDADE SOCIAL Section -->
    <section class="social-section">
        <div class="grid-container">
            <div class="col-span-12 md:col-span-8 sm:col-span-4 social-title">Responsabilidade Social</div>
            <div class="col-span-12 md:col-span-8 sm:col-span-4 social-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                </p>
            </div>
            <div class="col-span-12 md:col-span-8 sm:col-span-4 social-logos">
                <img src="/images/parceiro1.png" alt="Parceiro 1" class="social-logo" />
                <img src="/images/parceiro2.png" alt="Parceiro 2" class="social-logo" />
            </div>
        </div>
    </section>

    <!-- VENCEDORES Section -->
    <section class="vencedores-section">
        <div class="grid-container">
            <div class="col-span-12 md:col-span-8 sm:col-span-4 vencedores-title">Vencedores</div>
            <div class="col-span-12 md:col-span-8 sm:col-span-4 vencedores-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                </p>
            </div>
            <div class="col-span-12 md:col-span-8 sm:col-span-4 vencedores-img">
                <img src="/images/trofeu.png" alt="Troféu Sertã Cup" />
            </div>
        </div>
    </section>
</main>