@model List<SertaCup_site.Models.LiveModel>

@{
    ViewData["Title"] = "Início";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<section class="hero">
    <div class="hero-overlay"></div>
    <div class="grid-container">
        <div class="col-span-4 col-start-1 hero-cup-wrapper">
            <img src="/images/cup test.png" alt="Taça Sertã Cup" class="hero-cup-img" />
        </div>
        <div class="col-span-6 col-start-6 md:col-span-5 md:col-start-4 sm:col-span-4 sm:col-start-1 hero-text">
            <div class="hero-title">IV SERTÃ CUP</div>
            <div class="hero-subtitle">28/29 JUNHO</div>
            <div class="cta-wrapper">
                <a class="cta" asp-controller="Home" asp-action="Calendario">EM DIRETO</a>
            </div>
        </div>
    </div>
</section>

<script src="~/js/index.js"></script>
