@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sertã Cup - Brevemente</title>
	<link rel="stylesheet" href="~/css/soon.css" />
</head>
<body>
	<div class="soon-overlay"></div>
	<img src="/images/cup test.png" alt="Taça Sertã Cup" class="soon-image" />
	<div class="soon-container">
		<div class="soon-text">
			<span class="soon-caption">ACOMPANHA TODO O TORNEIO</span>
			<div class="soon-main">BREVEMENTE</div>
		</div>
		<div class="soon-footer">
			<div class="soon-footer-title">IV SERTÃ CUP</div>
			<div class="soon-footer-date">28/29 JUNHO</div>
		</div>
		<div class="soon-logos">
			<img class="logo-slot" src="~/images/patron/1.png" alt="Logo 1" />
			<img class="logo-slot" src="~/images/patron/2.png" alt="Logo 2" />
			<img class="logo-slot" src="~/images/patron/7.svg" alt="Logo 3" />
		</div>
		<div class="soon-icons">
			<a href="https://www.facebook.com/sertanensefc"><img class="icon-img" src="~/images/icons/FB.png" alt="FaceBook" /></a>
			<a href="https://www.instagram.com/sertanensefc/"><img class="icon-img" src="~/images/icons/INSTA.png" alt="Instagram" /></a>
		</div>
	</div>
</body>
</html>